In [1]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split

In [2]:
data = pd.read_csv('new_data.csv')

In [3]:
data.head()

,Depth,WS,RH (%),Temp (Deg),PM0.23_0.30,PM0.30_0.40,PM0.40_0.50,PM0.50_0.65,PM0.65_0.80,PM0.80_1,PM1_1.6,PM1.6_2,PM2_3,PM3_4,PM4_5,PM5_7.5,PM7.5_10,PM10_15,PM15_20
0,412.0,2.500000,71.5,26.0,10.1,10.1,8.7,4.2,1.3,1.0,1.1,3.5,3.9,0.8,0.4,0.7,0.0,0.0,0.0
1,412.0,3.333333,71.3,26.0,10.3,10.4,9.0,4.4,1.4,1.1,1.1,2.5,2.6,0.6,2.4,5.0,3.0,5.7,0.0
2,412.0,2.222222,71.1,26.1,9.8,9.7,7.9,3.7,1.2,0.8,1.1,2.4,3.1,0.0,0.3,0.0,0.0,0.0,0.0
3,412.0,2.222222,71.1,26.1,10.1,10.1,8.4,4.1,1.4,1.0,1.3,3.4,5.5,1.3,1.7,1.5,1.9,2.9,0.0
4,412.0,0.833333,71.0,26.1,10.4,10.5,8.9,4.8,1.8,1.8,2.1,3.8,5.2,2.1,1.5,5.3,4.9,5.8,15.7

In [4]:
data_points = pd.DataFrame()
data.head(0)

Empty DataFrame
Columns: [Depth, WS, RH (%), Temp (Deg), PM0.23_0.30, PM0.30_0.40, PM0.40_0.50, PM0.50_0.65, PM0.65_0.80, PM0.80_1, PM1_1.6, PM1.6_2, PM2_3, PM3_4, PM4_5, PM5_7.5, PM7.5_10, PM10_15, PM15_20]
Index: []

In [5]:
data_points["Depth"] = data["Depth"]
data_points["WS"] = data["WS"]
data_points["RH (%)"] = data["RH (%)"]
data_points["Temp (Deg)"] = data["Temp (Deg)"]

In [6]:
data_points.head()

   Depth        WS  RH (%)  Temp (Deg)
0  412.0  2.500000    71.5        26.0
1  412.0  3.333333    71.3        26.0
2  412.0  2.222222    71.1        26.1
3  412.0  2.222222    71.1        26.1
4  412.0  0.833333    71.0        26.1

In [7]:
data_target = pd.DataFrame(data["PM0.23_0.30"])
data_points = np.array(data_points)
data_target = np.array(data_target)
data_target = data_target.reshape(1,-1)[0]

In [8]:
data_points,data_target

(array([[412.        ,   2.5       ,  71.5       ,  26.        ],
        [412.        ,   3.33333333,  71.3       ,  26.        ],
        [412.        ,   2.22222222,  71.1       ,  26.1       ],
        ...,
        [580.        ,   1.11111111,  81.7       ,  25.        ],
        [580.        ,   1.66666667,  81.5       ,  25.        ],
        [580.        ,   1.66666667,  81.3       ,  25.1       ]]),
 array([10.1, 10.3,  9.8, ...,  4. ,  4. ,  4.1]))

In [9]:
data_points.shape,data_target.shape

((1863, 4), (1863,))

In [10]:
clf = DecisionTreeRegressor()

In [11]:
x_train, x_test, y_train, y_test = train_test_split(data_points,data_target,random_state = 10)

In [12]:
x_train.shape, y_train.shape,x_test.shape,y_test.shape

((1397, 4), (1397,), (466, 4), (466,))

In [13]:
# x_train = np.array(x_train)
# x_train = pd.DataFrame(x_train)

In [14]:
y_test.dtype

dtype('float64')

In [15]:
y_test.shape,y_train.shape,x_test.shape,x_train.shape

((466,), (1397,), (466, 4), (1397, 4))

In [16]:
clf.fit(x_train,y_train)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
                      max_leaf_nodes=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      presort=False, random_state=None, splitter='best')

In [17]:
x_predict = clf.predict(x_test)

In [18]:
x_predict = x_predict.reshape(1,-1)
y_test = y_test.reshape(-1,1)

In [19]:
clf.score(x_test, y_test)

0.7713191005564626